.login-screen-aAN {
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 5.2rem 4.5rem 4.1rem 4.5rem;
    width: 100%;
  
    .account-login-7Zc {
      color: #000000;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 0.2125;
      margin: 0rem 0.2rem 2.3rem 0rem;
      text-align: center;
      white-space: nowrap;
    }
    .line-39-Yev {
      background-color: #000000;
      flex-shrink: 0;
      height: 0.1rem;
      margin-bottom: 1.6rem;
      width: 50%;
    }
    .email-address-fUe {
      color: #000000;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      margin-bottom: 1.1rem;
      text-align: center;
      white-space: nowrap;
    }
    .rectangle-81-XWr {
      border: solid 0.1rem #000000;
      border-radius: 3rem;
      box-sizing: border-box;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 400;
      font-size: 1.5rem;
      height: 2.8rem;
      margin: 0rem 22.9rem 2.3rem 22.9rem;
      width: calc(100% - 55.8rem);
    }
    .password-ozA {
      color: #000000;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      margin: 0rem 0rem 1.1rem 0.1rem;
      text-align: center;
      white-space: nowrap;
    }
    .dont-have-an-account-i7U {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2125;
        margin: 0rem 0.1rem 1.2rem 0rem;
        text-align: center;
        white-space: nowrap;
      }
      .group-39-zan {
        align-items: center;
        border: solid 0.1rem #000000;
        border-radius: 3rem;
        box-sizing: border-box;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        height: 2.7rem;
        justify-content: center;
        line-height: 1.2125;
        margin: 0rem 31.3rem 0rem 31.2rem;
        text-align: center;
        white-space: nowrap;
        width: calc(100% - 72.5rem);
        margin-bottom: 1.1rem;
      }
      .create-account{
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        color:black;
        text-decoration:none;
        text-align:center;
      }
    }