.frame-55-XVL {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 4.0056rem;
    margin: 2rem 30.572rem 2rem 14.328rem;
    width: calc(100% - 54.9006rem);

    .submit-qW2 {
      align-items: center;
      border: solid 0.0589rem #4f4f4f;
      border-radius: 23.5625rem;
      box-sizing: border-box;
      color: #4f4f4f;
      display: flex;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.2488rem;
      font-weight: 400;
      height: 100%;
      justify-content: center;
      line-height: 1.1725;
      margin-right: 16.0225rem;
      white-space: nowrap;
      width: 21.0884rem;
    }
    .submit-UJ6 {
      align-items: center;
      border: solid 0.0589rem #4f4f4f;
      border-radius: 23.5625rem;
      box-sizing: border-box;
      color: #4f4f4f;
      display: flex;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.2488rem;
      font-weight: 400;
      height: 100%;
      justify-content: center;
      line-height: 1.1725;
      white-space: nowrap;
      width: 21.0884rem;
    }
  }
  .landlords-own-properties-LbC {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.0589rem #828282;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    padding: 2.003rem 0rem 3.703rem 0rem;
    width: 112.7466rem;

    .employment-Ega {
        align-items: center;
        color: #828282;
        display: flex;
        flex-shrink: 0;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2.0617rem;
        font-weight: 700;
        height: 2.5rem;
        justify-content: center;
        line-height: 1.1725;
        margin: 0rem 77.033rem 2.978rem 16.111rem;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: calc(100% - 63.144rem);
    }
}