/* GalleryModal.css */

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
  
  .modal {
    background-color: white;
    width: 50%; /* Adjust the width as needed */
    max-width: 800px; /* Set a maximum width */
    padding: 20px;
    position: relative;
    border-radius: 25px; /* Set border-radius for rounded corners */
  }
  
  .modal-content {
    position: relative;
    left: -65px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 50px;
    border-radius: 100px; /* Makes the button circular */
    padding: 5px; /* Adjust the padding for the button */
    border: 1px solid #C9CBA3; /* Add a border around the button */
    background-color: #C9CBA3; /* Set the background color */
  }
  
  .gallery {
    /* Styles for your gallery */
  }
  