.profile-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 20px;
  margin-top: 122px;
  max-width: 100%;
  padding: 50px 20px;
  border-bottom: 2px solid var(--Gray-4, #bdbdbd);
}

@media (max-width: 991px) {
  .profile-card {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
}

.profile-image {
  margin-bottom: 20px;
  align-items: center;
  margin-left: 600px;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-items: center;
}

@media (max-width: 991px) {
  .profile-img {
    margin-top: 20px;
    align-items: center;
  }
}

.profile-details {
  display: flex;
  margin-top: 41px;
  width: 100%;
  flex-direction: column;
  margin-left: 100px;
}

@media (max-width: 991px) {
  .profile-details {
    max-width: 100%;
    margin-top: 20px;
  }
}

.profile-name {
  margin-bottom: 10px;
  margin-left: -3px;
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 53px/62px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .profile-name {
    max-width: 100%;
    font-size: 40px;
    line-height: 52px;
    white-space: initial;
  }
}

.profile-email {
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 3px;
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 53px/62px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
  font-size: 1.5em;
}

.profile-age {
  margin-left: 2px;
  color: var(--Gray-3, #828282);
  margin-top: 18px;
  white-space: nowrap;
  font: italic 400 30px/35px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}

@media (max-width: 991px) {
  .profile-age {
    max-width: 100%;
    white-space: initial;
  }
}

.profile-description {
  margin-bottom: 20px; /* Adjust this value as needed */
  margin-left: -5px;
  margin-top: -10px;
  color: var(--Gray-3, #828282);
  font: 400 20px/23px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  padding: 10px;
}

@media (max-width: 991px) {
  .profile-description {
    max-width: 100%;
    margin-top: 30px; /* Adjust this value as needed */
  }
}

.send-message {
  color: var(--Gray-3, #828282);
  font: italic 400 23px/23px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
  margin-left: 300px;
  margin-top: -10px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .send-message {
    max-width: 100%;
    flex-direction: column;
    align-items: right;
  }
}

.send-message:hover {
  text-decoration: underline;
}

.message
{
  margin-left: 20px;
}

.main-container {
  display: flex;
  width: 1134px;
  max-width: 100%;
  padding-right: 4px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-left: 1000px;
}

@media (max-width: 991px) {
  .main-container {
    flex-wrap: wrap;
  }
}

.text-wrapper {
  color: var(--Gray-3, #828282);
  margin-left: 300px;
  margin-top: 70px;
  margin-bottom: -10px;
  font: 700 35px/41px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.create-property {
  display: flex;
  margin-top: -70px;
  margin-left: 800px;
  width: 100px;
  max-width: 100%;
  gap: 20px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  justify-content: space-between;
  border-radius: 400px;
  background-color: var(--Gray-2, #4f4f4f);
  align-self: stretch;
  flex-grow: 1;
  padding: 24px 20px;
  font: 400 21px/25px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .create-property {
    white-space: initial;
  }
}
.button {
  color: #fff;
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 400px;
  background-color: var(--Gray-2, #4f4f4f);
  align-self: stretch;
  flex-grow: 1;
  padding: 24px 20px;
  font: 400 21px/25px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .button {
    white-space: initial;
  }
}

.current-properties {
  align-items: center;
}

