.header {
    align-items: flex-end;
    background-color: #ffffff;
    border: solid 0.1rem #bdbdbd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0rem 0rem 0rem 0rem;
    position: relative;
    width: 100%;
  
    .auto-group {
      flex-shrink: 0;
      height: 0.4rem;
      margin: 0rem -43rem 1rem 0rem;
      position: relative;
      width: calc(100% - 0.012rem);
  
      .group-1 {
        height: 1.1rem;
        position: absolute;
        top: 0;
        width: 30.7rem;
      }
      .frame-16{
        align-items: center;
        display: flex;
        height: 4.1rem;
        left: 0;
        position: absolute;
        top: 1.8rem;
        width: 161.188rem;
  
        .banner {
          align-items: flex-end;
          display: flex;
          flex-shrink: 0;
          height: calc(100% - 0);
          margin: 0.437rem 3.9rem 0.411rem 0.4rem;
  
          .group-6 {
            flex-shrink: 0;
            height: 7.1064rem;
            margin: 0rem 0rem 0.031rem 21rem;
            object-fit: contain;
            position: relative;
            vertical-align: top;
            width: 15.1482rem;
          }
        }
    }
}

.additional-filters{
    color: #828282;
    cursor: pointer;
    flex-shrink: 0;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.25rem;

    font-weight: 400;
    line-height: 0;
    text-decoration-line: underline;
    margin-top: 4.5rem;
    margin-right: 0.9rem;
    white-space: nowrap;
  }
}