


.messaging {
  background-color: white;
  width: 50%; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width */
  padding: 20px;
  position: relative;
  border-radius: 25px; /* Set border-radius for rounded corners */
}

.messaging .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.messaging .overlap-wrapper1 {
  background-color: #ffffff;
  height: 1024px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1179px;
  border-radius: 15px;
}

.messaging .overlap1 {
  height: 1025px;
  position: relative;
  top: -1px;
}

.messaging .overlap2 {
  height: 1025px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1179px;
}

.messaging .search-bar-wrapper {
  align-items: center;
  border-color: rgba(189, 189, 189, 1);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  gap: 10px;
  height: 151px;
  left: 382px;
  padding: 43px 88px;
  position: absolute;
  top: 874px;
  width: 621px;
}

.messaging .search-bar {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #c2c2c2;
  border-radius: 400px;
  height: 81px;
  margin-bottom: -8px;
  margin-right: -30px;
  margin-top: -8px;
  position: relative;
  width: 651px;
  top: -35px;
}

.messaging .frame-wrapper1 {
  align-items: center;
  display: inline-flex;
  gap: 42px;
  justify-content: center;
  left: 51px;
  position: absolute;
  top: 32px;
}

.messaging .frame-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 139px;
  top:10px;
}

.messaging .text-input {
  color: rgba(130, 130, 130, 1);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 17.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.69px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  border: 1px;
  padding: 8px;
  width: 450px; /* Adjust width as needed */
  top: -20px;
}

.messaging .send {
  height: 58px;
  left: 573px;
  position: absolute;
  top: 12px;
  width: 58px;
}

.messaging .div-wrapper {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(189, 189, 189, 1);
  display: flex;
  gap: 10px;
  height: 151px;
  left: 382px;
  padding: 43px 88px;
  position: absolute;
  top: 0;
  width: 621px;
}

.messaging .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 212px;
  margin-right: -35px;
  position: relative;
}

.messaging .text-wrapper-2 {
  color: rgba(130, 130, 130, 1);
  font-family: "Roboto-Bold", Helvetica;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.messaging .frame-5s {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  justify-content: flex-end;
  position: relative;
}


.messaging .text-wrapper-3 {
  color: rgba(130, 130, 130, 1);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 15.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.69px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.close {
  position: absolute;
  top: -75px;
  right: 0px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 100px; /* Makes the button circular */
  padding: 5px; /* Adjust the padding for the button */
  background-color: #C9CBA3; /* Set the background color */
}

.messaging .frame-6 {
  border-radius: 25px;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 412px;
}

.messaging .overlap-group-wrapper {
  border-radius: 0px 30px 30px 0px;
  height: 1024px;
}

.messaging .overlap-3 {
  background-image: url(../Images/PropertyPics/rectangle-112.png);
  background-size: 100% 100%;
  height: 1024px;
  position: relative;
  width: 412px;
}

.messaging .rectangle {
  background-color: #d9d9d980;
  height: 112px;
  left: 0;
  position: absolute;
  top: 269px;
  width: 412px;
}

.messaging .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  left: 41px;
  position: absolute;
  top: 164px;
}

.messaging .calendar {
  height: 35.56px;
  position: relative;
  width: 32px;
}

.messaging .user-card {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #ffffff;
  height: 106px;
  width: 329px;
}

.messaging .frame25 {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  left: 14px;
  position: relative;
  top: 15px;
}

.messaging .ellipse {
  height: 75px;
  position: relative;
  width: 75px;
}

.messaging .div25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 163px;
}

.messaging .textwrapper25 {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 15.1px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.69px;
  position: relative;
  white-space: nowrap;
  width: fit-content;

}

.messaging .textwrapper25-2 {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 15.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.messaging .group25 {
  height: 23px;
  margin-right: -2px;
  position: relative;
  width: 25px;
}

.messaging .overlap-group25 {
  background-color: #ffffff;
  border-radius: 11.5px;
  height: 23px;
  position: relative;
  width: 23px;
}

.messaging .text-wrapper25-3 {
  color: rgba(79, 79, 79, 1);
  font-family: "Inter-Regular", Helvetica;
  font-size: 12.5px;
  font-weight: 400;
  height: 15px;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 7px;
}

.messaging .search-bar-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #c2c2c2;
  border-radius: 400px;
  height: 81px;
  left: 24px;
  position: absolute;
  top: 44px;
  width: 358px;
}

.messaging .frame-9 {
  align-items: center;
  display: inline-flex;
  gap: 42px;
  justify-content: center;
  left: 51px;
  position: absolute;
  top: 20px;
}

.messaging .text-wrapper-4 {
  color: rgba(79, 79, 79, 1);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 15.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -14px;
  margin-top: -0.69px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.messaging .text-wrapper-5 {
  color: rgba(130, 130, 130, 1);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 15.1px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.messaging .search {
  height: 58px;
  left: 282px;
  position: absolute;
  top: 12px;
  width: 58px;
}

.messaging .framep {
  align-items: center;
  background-color: rgba(224, 224, 224, 1);
  border-radius: 16px;
  display: flex;
  gap: 10px;
  height: 102px;
  justify-content: center;
  padding: 16px 21px;
  position: relative;
  width: 656px;
  box-shadow: 0px 4px 4px #00000040;
}

.messaging .text-wrapperp {
  color: rgba(79, 79, 79, 1);
  font-family: "Inter-Regular", Helvetica;
  font-size: 20.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 588px;
  
}

.messaging .frame-11 {
  align-items: flex-start;

  display: flex;
  flex-direction: column;
  gap: 25px;
  left: 470px;
  position: absolute;
  top: 343px;
  width: 656px;
}

.messaging .frame-12 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  position: relative;
  width: 656px;
}

.messaging .frame-6-variant3 {
  background-color: #ffffff !important;
  flex: 0 0 auto !important;
}

.messaging .frame-instance {
  color: rgba(51, 51, 51, 1) !important;
  font-family: "Inter-Regular", Helvetica !important;
  margin-top: 20px;

}

.messaging .framepp {
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 16px 21px;
  position: relative;
}

.messaging .text-wrapperpp {
  color: #ffffff;
  font-family: "Libre Franklin-Regular", Helvetica;
  font-size: 20.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.messaging .text-wrapperpp.colored-text {
  color: rgba(79, 79, 79, 1); /* Change text color to white */
}

.messaging .frame-6-variant3p {
  color: rgba(51, 51, 51, 1) !important;
  font-family: "Inter-Regular", Helvetica !important;
}

.messaging .frame-variant {
  background-color: #ffffff;
  border: 1px solid;
  border-color: rgba(130, 130, 130, 1);
  border-radius: 16px;
  flex: 0 0 auto;
  box-shadow: none; /* Initially no box shadow */
}

.messaging .frame-variant.white-border {
  border-color: #ffffff;
}

.messaging .frame-variant.with-shadow {
  box-shadow: 0px 4px 4px #00000040; /* Apply box shadow when this class is present */
}

.messaging .frame-screen {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 58px;
  justify-content: center;
  position: relative;
  width: 656px;
}