.table {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 4rem;
  margin-top:4.5rem;
  margin-left:10.5rem;
}

.tableRow {
  align-items: center;
  column-gap: 4.788rem;
  display: flex;
  flex-shrink: 0;
  height: 21.9876rem;
  margin-bottom: 4.788rem;
  width: 100%;
}

.mainProp {
  display: flex;
  flex-wrap: wrap; /* Allows children to wrap to the next row */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.additionalChild {
  margin-top: 50px;
}
