.frame-19-ubg {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 4rem;
    width: calc(100% - 15.9101rem);

    .auto-group-8ukp-FQe {
        align-items: center;
        column-gap: 1.788rem;
        display: flex;
        flex-shrink: 0;
        height: 21.9876rem;
        margin-bottom: 1.788rem;
        width: 100%


      
    }
    
}
