.property-1register-5Fg {
    align-items: center;
    background-color: #ffffff;
    border-radius: 0.1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0.7rem;
    overflow: hidden;
    padding: 0.7rem 0rem 0.5rem 0rem;
    position: relative;
    width: 100%;
  
    .group-49-NEn {
      flex-shrink: 0;
      height: 2.1353rem;
      margin: 0rem 0.7rem 0rem -12.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.1rem;
    }
    .register-gFU {
      color: #828282;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      margin-bottom:3.3rem;
      font-size: 2.3191rem;
      font-weight: 700;
      line-height: 0.1725;
      white-space: nowrap;
    }
    .frame-49-a5x {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      row-gap: 1.1rem;
      width: 30.8rem;
  
      .first-name-8Ft {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.276rem;
        font-weight: 400;
        line-height: 0.1725;
        white-space: nowrap;
      }
      .search-bar-e5p {
        background-color: #ffffff;
        border: solid 0.1rem #c2c2c2;
        border-radius: 40rem;
        font-size: 1.1076rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 2.1rem;
     
        padding: 2rem 10.1rem 2.5rem 2.1rem;
        margin-bottom: 0.5rem;
        width: 90%;
  
      }
      .last-name-ff8 {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.276rem;
        font-weight: 400;
        line-height: 0.1725;
        white-space: nowrap;
      }
      .search-bar-AyG {
        background-color: #ffffff;
        border: solid 0.1rem #c2c2c2;
        border-radius: 40rem;
        font-size: 1.1076rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 2.1rem;
     
        padding: 2rem 10.1rem 2.5rem 2.1rem;
        margin-bottom: 0.5rem;
        width: 90%;
  
  
        
      }
      
      .email-address-iWv {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.276rem;
        font-weight: 400;
        line-height: 0.1725;
        white-space: nowrap;
      }
      .search-bar-Gev {
        background-color: #ffffff;
        border: solid 0.1rem #c2c2c2;
        border-radius: 40rem;
        font-size: 1.1076rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 2.1rem;
     
        padding: 2rem 10.1rem 2.5rem 2.1rem;
        margin-bottom: 0.5rem;
        width: 90%;
      }
      .password-Eta {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.276rem;
        font-weight: 400;
        line-height: 0.1725;
        white-space: nowrap;
      }
      .search-bar-MJz {
        background-color: #ffffff;
        border: solid 0.1rem #c2c2c2;
        border-radius: 40rem;
        font-size: 1.1076rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 2.1rem;
     
        padding: 2rem 10.1rem 2.5rem 2.1rem;
        margin-bottom: 0.5rem;
        width: 90%;
        
      }
      .confirm-password-v98 {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.276rem;
        font-weight: 400;
        line-height: 0.1725;
        white-space: nowrap;
      }
      .search-bar-tiE {
        background-color: #ffffff;
        border: solid 0.1rem #c2c2c2;
        border-radius: 40rem;
        font-size: 1.1076rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 2.1rem;
     
        padding: 2rem 10.1rem 2.5rem 2.1rem;
        margin-bottom: 0.5rem;
        width: 90%;
        
      }
    }
    .select-account-type-9Xg {
      color: #828282;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 1.5076rem;
      font-style: italic;
      font-weight: 400;
      line-height: 1.1725;
      margin: 0rem 0rem 1.6rem 3.3rem;
      white-space: nowrap;
    }
    .frame-49-ejL {
      align-items: center;
      column-gap: 1.8rem;
      display: flex;
      flex-shrink: 0;
      height: 3.8046rem;
      margin: 0rem 0rem 2.795rem 0rem;
  
      .price-Mte {
        border: solid 0.0702rem #c2c2c2;
        border-radius: 28.0608rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        padding: 1.052rem 4.45rem 1rem 3.25rem;
        position: relative;
        width: 11.4rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.4794rem;
        font-weight: 700;
        height: 3.5538rem;
        line-height: 0.1725;
        text-align: center;
        white-space: nowrap;
  
  
      }
      .or-Kyt {
        color: #c9cba3;
        flex-shrink: 0;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.5076rem;
        font-weight: 400;
        line-height: 1.1725;
        white-space: nowrap;
      }
      .price-SYi {
        border: solid 0.0702rem #c2c2c2;
        border-radius: 28.0608rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        overflow: hidden;
        padding: 1.052rem 4.45rem 2.5rem 2.75rem;
        position: relative;
        width: 11.4rem;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.4794rem;
        font-weight: 700;
        height: 3.5538rem;
        line-height: 1.1725;
        text-align: center;
        white-space: nowrap;
        
  
  
      }
    }
    .submit-cLi {
      align-items: center;
      background-color: #4f4f4f;
      border-radius: 40rem;
      color: #ffffff;
      display: flex;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.12rem;
      font-weight: 400;
      height: 4.8rem;
      justify-content: center;
      line-height: 1.1725;
      margin-left: 1rem;
      white-space: nowrap;
      width: 24.8rem;
    }
  }
  .error{
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color:red;
    font-weight:bold;
  }