.profile-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 20px;
  margin-top: 122px;
  max-width: 100%;
  padding: 50px 20px;
  border-bottom: 2px solid var(--Gray-4, #bdbdbd);
}

@media (max-width: 991px) {
  .profile-card {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
}

.profile-image {
  margin-bottom: 20px;
  align-items: center;
  margin-left: 600px;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-items: center;
}

@media (max-width: 991px) {
  .profile-img {
    margin-top: 20px;
    align-items: center;
  }
}

.profile-details {
  display: flex;
  margin-top: 41px;
  width: 100%;
  flex-direction: column;
  margin-left: 100px;
}

@media (max-width: 991px) {
  .profile-details {
    max-width: 100%;
    margin-top: 20px;
  }
}

.profile-name {
  margin-bottom: 10px;
  margin-left: -3px;
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 53px/62px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .profile-name {
    max-width: 100%;
    font-size: 40px;
    line-height: 52px;
    white-space: initial;
  }
}

.first-name-input,
.last-name-input {
  width: 20rem;
  height: 5.2227rem;
  padding: 2.29rem 3.288rem 1.633rem 3.288rem;
  font-size: 16px;
  text-align: center;
  border: solid 0.0645rem #c2c2c2;
  border-radius: 25.7911rem;
  box-sizing: border-box;
  font: 700 22px/62px Roboto, -apple-system, Roboto, Helvetica, sans-serif; 
  left: 0rem;
  margin:0;
}
.name-input-titles {
  color: #4f4f4f;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 0.9721rem;
  font-weight: 400;
  /* height: 1.2rem; */
  left: 12.5rem;
  top: -1.8rem;
  /* margin-left: 5%;
  margin-right: 15%; */
  position: relative;
  white-space: nowrap;
  /* width: 5.6rem; */
}
.age-input-title {
  color: #4f4f4f;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 0.9721rem;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  left: 7rem;
  top: -1.5rem;
  /* width: 5.6rem; */
}
.bio-input-title {
  color: #4f4f4f;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 0.9721rem;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  left: 7rem;
  top: -3.3rem;
  /* width: 5.6rem; */
}

.profile-email {
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 3px;
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 53px/62px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1.5em;
}

.profile-age {
  margin-left: 2px;
  color: var(--Gray-3, #828282);
  margin-top: 18px;
  white-space: nowrap;
  font: italic 400 30px/35px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .profile-age {
    max-width: 100%;
    white-space: initial;
  }
}

/* CSS for the incrementer button */
.profile-age-input {
  /* Hide the default incrementer button */
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;

  width: 6rem;
  height: 5.2227rem;
  padding: 1.29rem 1.288rem 1.633rem 1.288rem;
  font-size: 16px;
  text-align: center;
  border: solid 0.0645rem #c2c2c2;
  border-radius: 25.7911rem;
  box-sizing: border-box;
  font: 700 22px/62px Roboto, -apple-system, Roboto, Helvetica, sans-serif; 
  margin-left: 3rem;
}

/* Optional: Style the wrapper div for better positioning */
.profile-age {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}

.profile-description {
  margin-bottom: 20px; /* Adjust this value as needed */
  margin-left: -5px;
  margin-top: -10px;
  color: var(--Gray-3, #828282);
  font: 400 20px/23px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  padding: 10px;
}

@media (max-width: 991px) {
  .profile-description {
    max-width: 100%;
    margin-top: 30px; /* Adjust this value as needed */
  }
}

.edit-description{
  height: 5.2227rem;
  width: 45rem;
  padding: 1.29rem 2.288rem 1.633rem 2.288rem;
  font-size: 16px;
  text-align: left;
  border: solid 0.0645rem #c2c2c2;
  border-radius: 25.7911rem;
  box-sizing: border-box;
  font: 700 22px/62px Roboto, -apple-system, Roboto, Helvetica, sans-serif; 
  margin-left: 1rem;
  resize: both;
}

.send-renter-message-container {
  display: flex;
  align-items: center;
  margin-left: 600px;
}

.send-renter-message {
  color: var(--Gray-3, #828282);
  font: italic 400 23px/23px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
  margin-left: 50px;
  margin-top: 20px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .send-renter-message {
    max-width: 100%;
    flex-direction: column;
    align-items: right;
  }
}

.send-renter-message:hover {
  text-decoration: underline;
}

.message
{
  margin-top: 20px;
}

.edit-profile {
  margin-bottom: 20px; /* Adjust this value as needed */
  margin-left: 300px;
  margin-top: -400px;
  color: var(--Gray-3, #828282);
  font: 400 20px/23px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  padding: 10px;
}

.edit-profile-button {
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: none;
  outline: none;
}

.edit-profile-button:hover .edit-profile {
  text-decoration: underline;
}

.profile-section {
  justify-content: center;
  align-self: center;
  margin-top: 22px;
  width: 1179px;
  margin-left: 800px;
  max-width: 100%;
}
.div-47 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-47 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-divide {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-divide {
    width: 100%;
  }
}

.occupation {
  align-items: start;
  border-right: 1px solid var(--Gray-4, #bdbdbd);
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  margin-left: -300px;
  padding: 44px 80px 44px 28px;
}

@media (max-width: 991px) {
  .occupation {
    max-width: 100%;
    margin-top: 35px;
    padding: 0 20px;
  }
}

.employment {
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 25px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .employment {
    white-space: initial;
  }
}

.student-tags,
.job-tags {
  align-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
  margin: 23px 0 6px;
}

@media (max-width: 991px) {
  .student-tags,
  .job-tags {
    gap: 10px; /* Adjust the gap as needed for smaller screens */
  }
}


.tags-selected {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  cursor: pointer;
  flex-grow: 1;
  padding: 11px 20px;
  margin: 0; /* Add this line to remove the default margin */
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.tags {
  cursor: pointer;
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #c9cba3;
  flex-grow: 1;
  padding: 11px 20px;
  margin: 0; /* Add this line to remove the default margin */
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.tags:hover {
  background-color: #f5f5f5; /* New background color on hover */
}

@media (max-width: 991px) {
  .tags-selected {
    white-space: initial;
    padding-right: -1px;
  }
}

.selected-tags {
  align-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
  margin: 13px 0 10px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .selected-tags {
    gap: 10px; /* Adjust the gap as needed for smaller screens */
  }
}

.selected-tags2 {
  align-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
  margin: 13px 0 10px;
  margin-top: 50px;
}

@media (max-width: 991px) {
  .selected-tags2 {
    gap: 10px; /* Adjust the gap as needed for smaller screens */
  }
}

.requirements-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .requirements-column {
    width: 100%;
  }
}

.rent-tags {
  align-items: start;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin-left: -100px;
  padding: 44px 80px 44px 28px;
}

@media (max-width: 991px) {
  .rent-tags {
    max-width: 100%;
    margin-top: 35px;
    padding: 0 20px;
  }
}

.requirements {
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 25px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .requirements {
    max-width: 100%;
    white-space: initial;
  }
}

.additional-tags {
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 407px;
  max-width: 100%;
  padding-right: 36px;
  justify-content: space-between;
  gap: 20px;
  margin: 23px 0 6px;
}

@media (max-width: 991px) {
  .additional-tags {
    padding-right: 20px;
  }
}