.profile-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 20px;
  margin-top: 122px;
  margin-left: -100px;
  max-width: 100%;
  padding: 50px 20px;
  border-bottom: 2px solid var(--Gray-4, #bdbdbd);
}

@media (max-width: 991px) {
  .profile-card {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
}

.image-wrapper {
  width: 300px;
  max-width: 100%;
  margin: 20px;
}

.profile-image {
  margin-bottom: 20px;
  align-items: center;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-items: center;
}

@media (max-width: 991px) {
  .profile-img {
    margin-top: 20px;
    align-items: center;
  }
}

.profile-details {
  display: flex;
  margin-top: 41px;
  width: 100%;
  flex-direction: column;
  margin-left: 100px;
}

@media (max-width: 991px) {
  .profile-details {
    max-width: 100%;
    margin-top: 20px;
  }
}

.profile-name {
  margin-bottom: 10px;
  margin-left: -3px;
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 53px/62px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .profile-name {
    max-width: 100%;
    font-size: 40px;
    line-height: 52px;
    white-space: initial;
  }
}

.first-name-input
{
  /* Optional: Add some styles to the input field */
  width: 60px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.last-name-input
{
  /* Optional: Add some styles to the input field */
  width: 60px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-email {
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 3px;
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 53px/62px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 1.5em;
}

.profile-age {
  margin-left: 2px;
  color: var(--Gray-3, #828282);
  margin-top: 18px;
  white-space: nowrap;
  font: italic 400 30px/35px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .profile-age {
    max-width: 100%;
    white-space: initial;
  }
}

/* CSS for the incrementer button */
.profile-age-input {
  /* Hide the default incrementer button */
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;

  /* Optional: Add some styles to the input field */
  width: 60px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Optional: Style the wrapper div for better positioning */
.profile-age {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
}

.profile-description {
  margin-bottom: 20px; /* Adjust this value as needed */
  margin-left: -5px;
  margin-top: -10px;
  color: var(--Gray-3, #828282);
  font: 400 20px/23px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  padding: 10px;
}

@media (max-width: 991px) {
  .profile-description {
    max-width: 100%;
    margin-top: 30px; /* Adjust this value as needed */
  }
}

.send-renter-message {
  color: var(--Gray-3, #828282);
  font: italic 400 23px/23px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
  margin-left: 50px;
  margin-top: 20px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .send-renter-message {
    max-width: 100%;
    flex-direction: column;
    align-items: right;
  }
}

.send-renter-message:hover {
  text-decoration: underline;
}

.message
{
  margin-left: 20px;
}

.edit-profile {
  margin-bottom: 20px; /* Adjust this value as needed */
  margin-left: 40px;
  margin-top: -400px;
  color: var(--Gray-3, #828282);
  font: 400 20px/23px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
  padding: 10px;
}

.edit-profile-button {
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: none;
  outline: none;
}

.edit-profile-button:hover .edit-profile {
  text-decoration: underline;
}

.profile-section {
  justify-content: center;
  align-self: center;
  margin-top: 22px;
  width: 1179px;
  max-width: 100%;
}
.div-47 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-47 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-divide {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-divide {
    width: 100%;
  }
}

.occupation {
  align-items: start;
  border-right: 1px solid var(--Gray-4, #bdbdbd);
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin-left: 700px;
  padding: 44px 80px 44px 28px;
}

@media (max-width: 991px) {
  .occupation {
    max-width: 100%;
    margin-top: 35px;
    padding: 0 20px;
  }
}

.employment {
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 25px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .employment {
    white-space: initial;
  }
}

.student-tags {
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 407px;
  max-width: 100%;
  padding-right: 36px;
  justify-content: space-between;
  gap: 20px;
  margin: 23px 0 6px;
}

@media (max-width: 991px) {
  .student-tags {
    padding-right: 20px;
  }
}

.fdiv-45-selected {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  cursor: pointer;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.fdiv-45 {
  cursor: pointer;
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #c9cba3;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.student-column {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}

.student {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  padding: 11px 20px;
  font: 400 15px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .student {
    white-space: initial;
    padding-right: 4px;
  }
}

.faculty {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  margin-top: 18px;
  padding: 11px 20px;
  font: 400 15px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .faculty {
    white-space: initial;
  }
}

.university {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  margin-top: 18px;
  padding: 11px 20px;
  font: 400 15px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .university {
    white-space: initial;
  }
}

.requirements-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .requirements-column {
    width: 100%;
  }
}

.rent-tags {
  align-items: start;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  margin-left: 1000px;
  padding: 44px 80px 44px 28px;
}

@media (max-width: 991px) {
  .rent-tags {
    max-width: 100%;
    margin-top: 35px;
    padding: 0 20px;
  }
}

.requirements {
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 700 25px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .requirements {
    max-width: 100%;
    white-space: initial;
  }
}

.information {
  display: flex;
  margin-top: 22px;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 991px) {
  .information {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.room {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .room {
    white-space: initial;
  }
}
.length {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px Roboto, sans-serif;
}
@media (max-width: 991px) {
  .length {
    white-space: initial;
  }
}

.location {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .location {
    white-space: initial;
  }
}
.other {
  display: flex;
  padding-right: 80px;
  justify-content: space-between;
  gap: 20px;
  margin: 18px 0 7px;
}
@media (max-width: 991px) {
  .other {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.transit {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px Roboto, sans-serif;
}
@media (max-width: 991px) {
  .transit {
    white-space: initial;
  }
}
.laundry {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px Roboto, sans-serif;
}
@media (max-width: 991px) {
  .laundry {
    white-space: initial;
  }
}