.create-a-property-9ES {
  border-radius: 6.4478rem;
  display: flex;
  width: 100%;
  border: none;
  flex-direction: column;
  align-items: start;
  height:46.295rem;
  .rectangle-13-EFt {
    background-color: #ffffff;
    border-radius: 1.9666rem;
    height: 46.295rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 39.3959rem;
  }
  .line-8-MrJ {
    background-color: #bdbdbd;
    height: 0.0645rem;
    left: 0.129rem;
    position: absolute;
    top: 4.5779rem;
    width: 100%;
  }
  .create-a-property-tbL {
    color: #828282;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.2896rem;
    font-weight: 700;
    height: 1.6rem;
    left: 14.6364rem;
    line-height: 1.1725;
    position: absolute;
    top: 1.6764rem;
    white-space: nowrap;
    width: 10.2rem;
  }
  .frame-15-aj4 {
    height: 2.3rem;
    left: 3.2239rem;
    position: absolute;
    top: 7.9308rem;
    width: 6.3rem;

    .progress-bar-v2E {
      color: #4f4f4f;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 5.6rem;
    }
    .complete-YSv {
      color: #828282;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 1.1rem;
      white-space: nowrap;
      width: 6.3rem;
    }
  }
  .group-17-qwp {
    height: 2rem;
    left: 3.2238rem;
    object-fit: contain;
    position: absolute;
    top: 11.477rem;
    vertical-align: top;
    width: 32.7547rem;
  }
  .frame-19-NB4 {
    height: 2.3918rem;
    left: 3.2238rem;
    position: absolute;
    top: 14.2496rem;
    width: 11.2rem;

    .preferred-contact-method-J4i {
      color: #4f4f4f;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 11.2rem;
    }
    .you-can-only-select-1-Cft {
      color: #828282;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 1.1918rem;
      white-space: nowrap;
      width: 9.4rem;
    }
  }
  .frame-19-HhL {
    height: 2.4048rem;
    left: 3.2238rem;
    position: absolute;
    top: 17.3093rem;
    width: 13.3rem;

    .availability-calendar-optional-pSN {
      color: #4f4f4f;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      line-height: 1.1725;
      margin-bottom: 0.0048rem;
      white-space: nowrap;
    }
    .choose-when-you-give-a-tour-Lfc {
      color: #828282;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      line-height: 1.1725;
      white-space: nowrap;
    }
  }
  .submit-UWv {
    cursor:pointer;
    align-items: center;
    background-color: #4f4f4f;
    border-radius: 25.7911rem;
    color: #ffffff;
    display: flex;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.3669rem;
    font-weight: 400;
    height: 4.3845rem;
    justify-content: center;
    left: 4.1266rem;
    line-height: 1.1725;
    position: absolute;
    top: 36.4299rem;
    white-space: nowrap;
    width: 31.0782rem;
  }
  .save-form-p4 {
    align-items: center;
    cursor:pointer;
    background-color: #4f4f4f;
    border-radius: 25.7911rem;
    color: #ffffff;
    display: flex;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.3669rem;
    font-weight: 400;
    height: 4.3845rem;
    justify-content: center;
    left: 2.8266rem;
    line-height: 1.1725;
    position: relative;
    top: 40.2962rem;
    white-space: nowrap;
    width: 15.0782rem;
  }
  .edit-form-p4 {
    align-items: center;
    cursor:pointer;
    background-color: #4f4f4f;
    border-radius: 25.7911rem;
    color: #ffffff;
    display: flex;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.3669rem;
    font-weight: 400;
    height: 4.3845rem;
    justify-content: center;
    left: 19.1266rem;
    line-height: 1.1725;
    position: relative;
    top: 35.9962rem;
    white-space: nowrap;
    width: 15.0782rem;
  }
  .group-49-kUS {
    height: 1.3768rem;
    left: 2.4501rem;
    object-fit: contain;
    position: absolute;
    top: 1.7409rem;
    vertical-align: top;
    width: 0.7093rem;
  }
  .frame-20-HUN {
    align-items: center;
    column-gap: 1.0961rem;
    display: flex;
    height: 2.457rem;
    left: 3.2239rem;
    position: absolute;
    top: 18.0538rem;
    width: 31.981rem;

    .price-CbL {
      cursor:pointer;
      background-color: #ffffff;
      border: solid 0.0452rem #c2c2c2;
      border-radius: 18.093rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      padding: 0.678rem 3.765rem 0rem 3.744rem;
      position: relative;
      width: 9.9296rem;

      .frame-15-vXL {
        box-sizing: border-box;
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9539rem;
        font-weight: 400;
        height: 2.3308rem;
        line-height: 1.1725;
        padding-left: 0.0213rem;
        text-align: center;
        white-space: nowrap;
        width: 100%;
      }
    }
    .price-xiv {
      cursor:pointer;
      background-color: #ffffff;
      border: solid 0.0452rem #c2c2c2;
      border-radius: 18.093rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      padding: 0.678rem 3.565rem 0rem 3.565rem;
      position: relative;
      width: 9.9296rem;

      .frame-15-HWJ {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9539rem;
        font-weight: 400;
        height: 2.3308rem;
        line-height: 1.1725;
        text-align: center;
        white-space: nowrap;
        width: 100%;
      }
    }
    .price-Zyc {
      cursor:pointer;
      background-color: #ffffff;
      border: solid 0.0452rem #c2c2c2;
      border-radius: 18.093rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      padding: 0.678rem 3.565rem 0rem 3.565rem;
      position: relative;
      width: 9.9296rem;

      .frame-15-u1t {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9539rem;
        font-weight: 400;
        height: 2.3308rem;
        line-height: 1.1725;
        text-align: center;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
  .search-bar-ZcE {
    cursor:pointer;
    align-items: center;
    background-color: #ffffff;
    border: solid 0.0645rem #c2c2c2;
    border-radius: 1.2896rem;
    box-sizing: border-box;
    display: flex;
    height: 5.9964rem;
    left: 3.7397rem;
    padding: 1.87rem 11.735rem 1.834rem 10.187rem;
    position: absolute;
    top: 22.5965rem;
    width: 31.9165rem;

    .open-calendar-rLS {
      color: #4f4f4f;
      flex-shrink: 0;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      line-height: 1.1725;
      margin: 0.068rem 1.531rem 0rem 0rem;
      white-space: nowrap;
    }
    .vector-Zke {
      flex-shrink: 0;
      height: 2.2925rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.0633rem;
    }
  }
}
.error{
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 1.3669rem;
  font-weight: 800;
  height: 0.3845rem;
  justify-content: center;
  left: 3.1266rem;
  line-height: 1.1725;
  position: relative;
  top: 90%;
  white-space: nowrap;
  width: 31.0782rem;
}