.create-a-property-CMx {
  border-radius: 6.4478rem;
  display: flex;
  width: 100%;
  border: none;
  flex-direction: column;
  align-items: start;
  height: 64.4777rem;
  .rectangle-13-tka {
    background-color: #ffffff;
    border-radius: 1.9666rem;
    height: 64.4777rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 39.3959rem;
  }
  .line-8-1qC {
    background-color: #bdbdbd;
    height: 0.0645rem;
    left: 0.129rem;
    position: absolute;
    top: 4.5779rem;
    width: 100%;
  }
  .create-a-property-LsU {
    color: #828282;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.2896rem;
    font-weight: 700;
    height: 1.6rem;
    left: 14.6364rem;
    line-height: 1.1725;
    position: absolute;
    top: 1.6764rem;
    white-space: nowrap;
    width: 10.2rem;
  }
  .frame-15-dra {
    height: 2.3rem;
    left: 3.2239rem;
    position: absolute;
    top: 7.9308rem;
    width: 6.3rem;

    .progress-bar-ALi {
      color: #4f4f4f;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 5.6rem;
    }
    .complete-ELa {
      color: #828282;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 1.1rem;
      white-space: nowrap;
      width: 6.3rem;
    }
  }
  .group-17-Ksp {
    height: 2rem;
    left: 3.2238rem;
    object-fit: contain;
    position: absolute;
    top: 11.477rem;
    vertical-align: top;
    width: 32.7547rem;
  }
  .frame-19-Ejt {
    height: 2.3635rem;
    left: 3.2238rem;
    position: absolute;
    top: 14.2496rem;
    width: 8.7rem;

    .location-kTL {
      color: #4f4f4f;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 3.8rem;
    }
    .describe-where-it-is-s2A {
      color: #828282;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 1.1635rem;
      white-space: nowrap;
      width: 8.7rem;
    }
  }
  .neighborhood-description-xZQ {
    color: #4f4f4f;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    height: 1.2rem;
    left: 4.2238rem;
    line-height: 1.1725;
    position: absolute;
    top: 51.1016rem;
    white-space: nowrap;
    width: 11.4rem;
  }
  .group-49-v8r {
    height: 1.3768rem;
    left: 2.4501rem;
    object-fit: contain;
    position: absolute;
    top: 1.7409rem;
    vertical-align: top;
    width: 0.7093rem;
  }
  .search-bar-SN6 {
    background-color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    border: solid 0.0645rem #c2c2c2;
    border-radius: 25.7911rem;
    box-sizing: border-box;
    height: 5.2227rem;
    left: 2.7726rem;
    padding: 2.29rem 3.288rem 1.633rem 3.288rem;
    position: absolute;
    top: 18.1182rem;
    width: 31.981rem;
  }
  .search-bar-RtE {
    background-color: #ffffff;
    border: solid 0.0645rem #c2c2c2;
    border-radius: 25.7911rem;
    box-sizing: border-box;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    height: 5.2227rem;
    left: 2.7726rem;
    padding: 2.29rem 3.288rem 1.633rem 3.288rem;
    position: absolute;
    top: 38.2353rem;
    width: 15.4102rem;

  }
  .search-bar-wNi {
    background-color: #ffffff;
    border: solid 0.0645rem #c2c2c2;
    border-radius: 25.7911rem;
    box-sizing: border-box;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    height: 5.2227rem;
    left: 19.8592rem;
    padding: 2.29rem 3.288rem 1.633rem 3.288rem;
    position: absolute;
    top: 38.2353rem;
    width: 14.8943rem;
  }
  .search-bar-UQa {
    background-color: #ffffff;
    border: solid 0.0645rem #c2c2c2;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    border-radius: 25.7911rem;
    box-sizing: border-box;
    height: 5.2227rem;
    left: 2.7726rem;
    padding: 2.29rem 3.288rem 1.633rem 3.288rem;
    position: absolute;
    top: 31.5296rem;
    width: 31.981rem;

  }
  .search-bar-Wka {
    background-color: #ffffff;
    border: solid 0.0645rem #c2c2c2;
    border-radius: 25.7911rem;
    box-sizing: border-box;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    height: 5.2227rem;
    left: 2.7726rem;
    padding: 2.29rem 3.288rem 1.633rem 3.288rem;
    position: absolute;
    top: 24.8239rem;
    width: 31.981rem;

  }
  .neighbourhood-bar {
    background-color: #ffffff;
    border: solid 0.0645rem #c2c2c2;
    border-radius: 25.7911rem;
    box-sizing: border-box;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    height: 5.2227rem;
    left: 2.7726rem;
    padding: 2.29rem 3.288rem 1.633rem 3.288rem;
    position: absolute;
    top: 45.2353rem;
    width: 31.981rem;

  }
  .address-label{
    color: #4f4f4f;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    height: 1.2rem;
    left: 5rem;
    position: relative;
    top: 17.5rem;
    margin-bottom: 5.58rem;
    white-space: nowrap;
    width: 5.6rem;
    z-index: 1;
  }
  .country-label{
    color: #4f4f4f;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    height: 1.2rem;
    left: 21.9rem;
    position: relative;
    top: 3.9rem;
    margin-bottom: 5.7rem;
    white-space: nowrap;
    width: 5.6rem;
    z-index: 1;
  }
  .frame-22-M8v {
    align-items: center;
    display: flex;
    height: 2.457rem;
    left: 3.2239rem;
    position: absolute;
    top: 54.3583rem;
    width: 16.2483rem;

    .adding-tag{
      background-color: #4f4f4f;
      border: solid 0.0452rem #c2c2c2;
      border-radius: 18.093rem;
      box-sizing: border-box;
      color: #ffffff;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      padding: 0rem 1.433rem 0rem 1.39rem;
      position: relative;
      width: 5.2227rem;
    }
    .adding-input{
      background-color: #ffffff;
      border: solid 0.0452rem #c2c2c2;
      border-radius: 18.093rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 100%;
      margin-right: 1.0961rem;
      overflow: hidden;
      padding: 0rem 0rem 0rem 3.15rem;
      position: relative;
      width: 9.9296rem;
    }
}
.tag-div{
  align-items: center;
  display: flex;
  position: absolute;
  top: 57.3583rem;
  flex-wrap: wrap;
  .tag-container{
    margin: 0px;
    box-sizing:border-box;
    flex: 0 0 calc(50%-10px);
    display:inline-block;
    .remove-tag{
      background-color: #4f4f4f;
      border: solid 0.0452rem #c2c2c2;
      border-radius: 18.093rem;
      box-sizing: border-box;
      color: #ffffff;
      flex-shrink: 0;
      height: 100%;
      overflow: hidden;
      padding: 0rem 1.433rem 0rem 1.2rem;
      position: relative;
      width: 5.2227rem;
      height: 1.75rem;
      
    }
    .remove-input{
      background-color: #ffffff;
      border: solid 0.0452rem #c2c2c2;
      border-radius: 18.093rem;
      box-sizing: border-box;
      flex-shrink: 0;
      height: auto;
      margin-right: 1.0961rem;
      margin-bottom: 2%;
      overflow: hidden;
      padding: 0.3rem 2.315rem 0.3rem 2.415rem;
      position: relative;
      width: 9.9296rem;
    }
}
.submit-SzN {
  margin-top: 2rem;
  cursor:pointer;
  align-items: center;
  background-color: #4f4f4f;
  border-radius: 25.7911rem;
  color: #ffffff;
  display: flex;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 1.3669rem;
  font-weight: 400;
  height: 4.3845rem;
  justify-content: center;
  left: 3.1266rem;
  line-height: 1.1725;
  position: relative;
  top: 100%;
  white-space: nowrap;
  width: 31.0782rem;
}
.save-form-p2 {
  align-items: center;
  cursor:pointer;
  background-color: #4f4f4f;
  border-radius: 25.7911rem;
  color: #ffffff;
  display: flex;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 1.3669rem;
  font-weight: 400;
  height: 4.3845rem;
  justify-content: center;
  left: 2.8266rem;
  line-height: 1.1725;
  position: relative;
  top: 0.8715rem;
  white-space: nowrap;
  width: 15.0782rem;
}
.edit-form-p2 {
  align-items: center;
  cursor:pointer;
  background-color: #4f4f4f;
  border-radius: 25.7911rem;
  color: #ffffff;
  display: flex;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 1.3669rem;
  font-weight: 400;
  height: 4.3845rem;
  justify-content: center;
  left: 4.1266rem;
  line-height: 1.1725;
  position: relative;
  top: 0.8715rem;
  white-space: nowrap;
  width: 15.0782rem;
}
.error-p2{
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: Roboto, 'Source Sans Pro';
  font-size: 1.3669rem;
  font-weight: 800;
  height: 0.3845rem;
  justify-content: center;
  left: 3.1266rem;
  position: relative;
  top: 100%;
  white-space: nowrap;
  width: 31.0782rem;
}
}

}