.create-a-property-vkS {
  border-radius: 6.4478rem;
  box-shadow: 0 0.0321rem 0.1427rem rgba(0, 0, 0, 0.0421718433), 0 0.0772rem 0.343rem rgba(0, 0, 0, 0.0605839156), 0 0.1453rem 0.6459rem rgba(0, 0, 0, 0.075000003), 0 0.2592rem 1.1522rem rgba(0, 0, 0, 0.0894160867), 0 0.4849rem 2.155rem rgba(0, 0, 0, 0.1078281552), 0 1.1606rem 5.1582rem rgba(0, 0, 0, 0.150000006);
  flex-shrink: 0;
  height: 55.1929rem;
  margin-right: 2.4501rem;
  position: relative;
  width: 39.5249rem;

  .rectangle-13-2Hg {
    background-color: #ffffff;
    border-radius: 1.9666rem;
    height: 55.1929rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 39.3959rem;
  }
  .line-8-kUa {
    background-color: #bdbdbd;
    height: 0.0645rem;
    left: 0.129rem;
    position: absolute;
    top: 4.5779rem;
    width: 39.3959rem;
  }
  .create-a-property-HUW {
    color: #828282;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.2896rem;
    font-weight: 700;
    height: 1.6rem;
    left: 14.6364rem;
    line-height: 1.1725;
    position: absolute;
    top: 1.6764rem;
    white-space: nowrap;
    width: 10.2rem;
  }
  .frame-15-PXY {
    height: 2.3rem;
    left: 3.2239rem;
    position: absolute;
    top: 7.9308rem;
    width: 6.3rem;

    .progress-bar-WcA {
      color: #4f4f4f;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 5.6rem;
    }
    .complete-2qQ {
      color: #828282;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 1.1rem;
      white-space: nowrap;
      width: 6.3rem;
    }
  }
  .group-17-Y34 {
    height: 0.363rem;
    left: 3.2238rem;
    object-fit: contain;
    position: absolute;
    top: 11.477rem;
    vertical-align: top;
    width: 32.7547rem;
  }
  .frame-19-Tvi {
    height: 2.3635rem;
    left: 3.2238rem;
    position: absolute;
    top: 14.2496rem;
    width: 5.9rem;

    .availability-zQr {
      color: #4f4f4f;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 4.7rem;
    }
    .now-or-never-7Ea {
      color: #828282;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 1.1635rem;
      white-space: nowrap;
      width: 5.9rem;
    }
  }
  .frame-19-cSE {
    height: 2.3635rem;
    left: 3.2238rem;
    position: absolute;
    top: 32.3678rem;
    width: 5.6rem;

    .cost-7dt {
      color: #4f4f4f;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 0;
      white-space: nowrap;
      width: 2.1rem;
    }
    .approximate-2F4 {
      color: #828282;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 0.9721rem;
      font-weight: 400;
      height: 1.2rem;
      left: 0;
      line-height: 1.1725;
      position: absolute;
      top: 1.1635rem;
      white-space: nowrap;
      width: 5.6rem;
    }
  }
  .submit-jQN {
    align-items: center;
    background-color: #4f4f4f;
    border-radius: 25.7911rem;
    color: #ffffff;
    display: flex;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 1.3669rem;
    font-weight: 400;
    height: 4.3845rem;
    justify-content: center;
    left: 4.1266rem;
    line-height: 1.1725;
    position: absolute;
    top: 44.2962rem;
    white-space: nowrap;
    width: 31.0782rem;
  }
  .group-49-ndY {
    height: 1.3768rem;
    left: 2.4501rem;
    object-fit: contain;
    position: absolute;
    top: 1.7409rem;
    vertical-align: top;
    width: 0.7093rem;
  }
  .search-bar-uiA {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.0645rem #c2c2c2;
    border-radius: 25.7911rem;
    box-sizing: border-box;
    display: flex;
    height: 5.2227rem;
    left: 2.7726rem;
    padding: 1.29rem 2.45rem 1.633rem 3.288rem;
    position: absolute;
    top: 17.8603rem;
    width: 31.981rem;

    .frame-17-bqt {
      flex-shrink: 0;
      height: 100%;
      margin-right: 17.0173rem;
      position: relative;
      width: 8rem;

      .earlest-start-darte-Ym8 {
        color: #4f4f4f;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9721rem;
        font-weight: 400;
        height: 1.2rem;
        left: 0;
        line-height: 1.1725;
        position: absolute;
        top: 0;
        white-space: nowrap;
        width: 8rem;
      }
      .dd-mm-yyyy-FfY {
        color: #828282;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 0.9721rem;
        font-weight: 400;
        height: 1.2rem;
        left: 0;
        line-height: 1.1725;
        position: absolute;
        top: 1.1rem;
        white-space: nowrap;
        width: 5.2rem;
      }
    }
    .vector-k6W {
      flex-shrink: 0;
      height: 1.3612rem;
      margin-top: 0.3507rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.2251rem;
    }
  }
  .search-bar-ehg {
    background-color: #ffffff;
    border: solid 0.0645rem #c2c2c2;
    border-radius: 25.7911rem;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9721rem;
    font-weight: 400;
    box-sizing: border-box;
    height: 5.2227rem;
    left: 2.7726rem;
    padding: 1.29rem 3.288rem 1.633rem 3.288rem;
    position: absolute;
    top: 24.5015rem;
    width: 31.981rem;
  }
  .price-J9x {
    background-color: #ffffff;
    border: solid 0.0452rem #c2c2c2;
    border-radius: 18.093rem;
    box-sizing: border-box;
    height: 3.557rem;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9539rem;
    font-weight: 400;
    left: 2.7726rem;
    overflow: hidden;
    padding: 0.678rem 3.306rem 0.578rem 3.306rem;
    position: absolute;
    top: 35.9786rem;
    width: 12.2128rem;

   
  }
  .price-uJA {
    background-color: #ffffff;
    border: solid 0.0452rem #c2c2c2;
    border-radius: 18.093rem;
    box-sizing: border-box;
    height: 3.557rem;
    left: 18.1827rem;
    font-family: Roboto, 'Source Sans Pro';
    font-size: 0.9539rem;
    font-weight: 400;
    overflow: hidden;
    padding: 0.678rem 2.656rem 0.578rem 2.656rem;
    position: absolute;
    top: 35.9786rem;
    width: 12.2128rem;

  }
}