/* App.css */
.slider-container {
  width: 80%;
  margin: 20px auto;
}

/* Styles for the slider */
.ReactSlider {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.ReactSlider-thumb {
  height: 20px;
  width: 20px;
}

/* Styles for the bar container */
.bar-container {
  display: flex;
  height: 100px; /* Adjust the height of the bar container */
}

/* Styles for individual bars */
.bar {
  background-color: #3498db; /* Change this to your preferred color */
  margin-right: 2px; /* Adjust the margin between bars */
}







/* styles.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.modal-content {
  background-color: #fff;
  border-radius: 30.5px;
  padding: 60px;
  text-align: center;
  width: 800px;
  top: 15%;
  position: absolute;
  transform: scale(0.75);
}

.close-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button:hover {
  background-color: #d32f2f;
}
.fdiv {
  border-radius: 30.5px;
  background-color: #fff;
  display: flex;
  width: 100%;
  border: none;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 991px) {
  .fdiv {
    max-width: 100%;
  }
}
.fdiv-2 {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .fdiv-2 {
    margin-left: 10px;
  }
}
.img {
  aspect-ratio: 0.4;
  padding-left: 30px;
  object-fit: contain;
  object-position: center;
  width: 15px;
  overflow: hidden;
  max-width: 100%;
}
.fdiv-3 {
  color: var(--Gray-3, #828282);
  flex-grow: 1;
  white-space: nowrap;
  padding-bottom: 15px;
  font: 700 30px/23px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-3 {
    white-space: initial;
  }
}
.fdiv-4 {
  background-color: #bdbdbd;
  align-self: stretch;
  min-height: 1px;
  margin-top: 25px;
  width: 100%;
}
@media (max-width: 991px) {
  .fdiv-4 {
    max-width: 100%;
  }
}
.fdiv-5 {
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 52px 0 20px;
}
@media (max-width: 991px) {
  .fdiv-5 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.fdiv-6 {
  color: var(--Gray-2, #4f4f4f);
  align-self: start;
  margin-left: 13px;
  white-space: nowrap;
  font: 400 15px/18px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-6 {
    margin-left: 10px;
    white-space: initial;
  }
}
.fdiv-7 {
  color: var(--Gray-3, #828282);
  align-self: start;
  margin-left: 13px;
  white-space: nowrap;
  font: 400 15px/18px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-7 {
    margin-left: 10px;
    white-space: initial;
  }
}
.fdiv-8 {
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-top: 52px;
  width: 355px;
  max-width: 100%;
  gap: 3px;
}
@media (max-width: 991px) {
  .fdiv-8 {
    margin-top: 40px;
  }
}
.fdiv-9 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  margin-top: 87px;
  height: 1px;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .fdiv-9 {
    margin-top: 40px;
  }
}
.fdiv-10 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  margin-top: 79px;
  height: 9px;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .fdiv-10 {
    margin-top: 40px;
  }
}
.fdiv-11 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  margin-top: 67px;
  height: 21px;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .fdiv-11 {
    margin-top: 40px;
  }
}
.fdiv-12 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  margin-top: 57px;
  height: 31px;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .fdiv-12 {
    margin-top: 40px;
  }
}
.fdiv-13 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  margin-top: 46px;
  height: 42px;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .fdiv-13 {
    margin-top: 40px;
  }
}
.fdiv-14 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  margin-top: 25px;
  height: 63px;
  flex-direction: column;
  flex: 1;
}
.fdiv-15 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  margin-top: 46px;
  height: 42px;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .fdiv-15 {
    margin-top: 40px;
  }
}
.fdiv-16 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  margin-top: 32px;
  height: 56px;
  flex-direction: column;
  flex: 1;
}
.fdiv-17 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  height: 88px;
  flex-direction: column;
  flex: 1;
}
.fdiv-18 {
  background-color: var(--Gray-2, #4f4f4f);
  display: flex;
  margin-top: 46px;
  height: 42px;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .fdiv-18 {
    margin-top: 40px;
  }
}
.fdiv-19 {
  background-color: var(--Gray-4, #bdbdbd);
  display: flex;
  margin-top: 32px;
  height: 56px;
  flex-direction: column;
  flex: 1;
}
.fdiv-20 {
  background-color: var(--Gray-4, #bdbdbd);
  display: flex;
  margin-top: 40px;
  height: 48px;
  flex-direction: column;
  flex: 1;
}
.fdiv-21 {
  background-color: var(--Gray-4, #bdbdbd);
  display: flex;
  margin-top: 16px;
  height: 72px;
  flex-direction: column;
  flex: 1;
}
.fdiv-22 {
  background-color: var(--Gray-4, #bdbdbd);
  display: flex;
  margin-top: 40px;
  height: 48px;
  flex-direction: column;
  flex: 1;
}
.fdiv-23 {
  background-color: var(--Gray-4, #bdbdbd);
  display: flex;
  margin-top: 57px;
  height: 31px;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 991px) {
  .fdiv-23 {
    margin-top: 40px;
  }
}
.fdiv-24 {
  align-self: stretch;
  display: flex;
  margin-top: 58px;
  justify-content: space-between;
  gap: 300px;
}
@media (max-width: 991px) {
  .fdiv-24 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.fdiv-25 {
  justify-content: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  padding: 11px 0 11px 64px;
}
@media (max-width: 991px) {
  .fdiv-25 {
    padding: 0 20px;
  }
}
.fdiv-26 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-26 {
    white-space: initial;
  }
}
.fdiv-27 {
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-27 {
    white-space: initial;
  }
}
.fdiv-28 {
  justify-content: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  padding: 11px 61px 11px 62px;
}

.fdiv-28:hover {
  background-color: #f5f5f5; /* New background color on hover */
}

@media (max-width: 991px) {
  .fdiv-28 {
    padding: 0 20px;
  }
}
.fdiv-29 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-29 {
    white-space: initial;
  }
}
.fdiv-30 {
  color: var(--Gray-3, #828282);
  white-space: nowrap;
  margin: 2px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-30 {
    white-space: initial;
  }
}
.fdiv-31 {
  transform: rotate(-0.439deg);
  color: var(--Gray-2, #4f4f4f);
  margin: 77px 0 0 13px;
  font: 400 15px/18px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-31 {
    margin: 40px 0 0 10px;
  }
}
.fdiv-32 {
  color: var(--Gray-3, #828282);
  align-self: start;
  margin-left: 13px;
  white-space: nowrap;
  font: 400 15px/18px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-32 {
    margin-left: 10px;
    white-space: initial;
  }
}
.fdiv-33 {
  align-self: center;
  display: flex;
  margin-top: 24px;
  width: 100%;
  max-width: 496px;
  gap: 17px;
}
@media (max-width: 991px) {
  .fdiv-33 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.fdiv-34 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-34 {
    white-space: initial;
  }
}
.fdiv-35 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-35 {
    white-space: initial;
  }
}
.fdiv-36 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-36 {
    white-space: initial;
  }
}
.fdiv-37 {
  align-self: center;
  display: flex;
  margin-top: 17px;
  width: 100%;
  max-width: 496px;
  padding-right: 80px;
  gap: 17px;
}
@media (max-width: 991px) {
  .fdiv-37 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.fdiv-38 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-38 {
    white-space: initial;
  }
}
.fdiv-39 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-39 {
    white-space: initial;
  }
}
.fdiv-40 {
  transform: rotate(-0.439deg);
  color: var(--Gray-2, #4f4f4f);
  margin: 52px 0 0 13px;
  font: 400 15px/18px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .ffdiv-40 {
    margin: 40px 0 0 10px;
  }
}
.fdiv-41 {
  color: var(--Gray-3, #828282);
  align-self: start;
  margin-left: 13px;
  white-space: nowrap;
  font: 400 15px/18px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-41 {
    margin-left: 10px;
    white-space: initial;
  }
}
.fdiv-42 {
  align-content: flex-start;
  flex-wrap: wrap;
  align-self: center;
  display: flex;
  margin-top: 26px;
  width: 100%;
  gap: 17px;
}
@media (max-width: 991px) {
  .fdiv-42 {
    max-width: 100%;
    justify-content: center;
  }
}
.fdiv-43 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-43 {
    white-space: initial;
  }
}
.fdiv-44 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .fdiv-44 {
    white-space: initial;
  }
}
.fdiv-45 {
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #fff;
  cursor: pointer;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.fdiv-45-selected {
  cursor: pointer;
  color: var(--Gray-2, #4f4f4f);
  text-align: center;
  white-space: nowrap;
  justify-content: center;
  border-radius: 280.608px;
  border: 0.702px solid #c3c3c3;
  background-color: #c9cba3;
  flex-grow: 1;
  padding: 11px 20px;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.fdiv-45:hover {
  background-color: #f5f5f5; /* New background color on hover */
}

@media (max-width: 991px) {
  .fdiv-45 {
    white-space: initial;
    padding-right: -1px;
  }
}

.fdiv-button {
  display: flex;
  width: 482px;
  padding: 21px 0px 22px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 400px;
  background: var(--Gray-2, #4f4f4f);
  color: white;
  cursor: pointer;
  font: 400 15px/17px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.fdiv-button:hover {
  background-color: #909090; /* New background color on hover */
}

.fdiv-101 {
  width: 100%;

  padding-top: 50px;
  display: flex;
  justify-content: center;
}
