.bar-div {
  width: 50px;
  margin: 0 5px;
  background-color: #bdbdbd;
  flex: 1; /* Allow the items to grow and take available space */
}

.bar-container {
  padding-right: 150px;
  padding-left: 150px;
  height: 100px;
  display: flex;
  flex-direction: row; /* Set the direction to row for a horizontal layout */
  justify-content: space-between; /* Stretch the items to fill the container horizontally */
  align-items: flex-end; /* Center the items vertically if needed */
}

.top-layer::before {
  content: "";
  height: 100px;
  margin-left: -262px;
  width: 523px;
  position: absolute;
  z-index: 2; /* Higher z-index to appear on top */
  transition: background-color 0.2s ease; /* Transition the background color over 0.5 seconds */
  background: #000000;
  mix-blend-mode: soft-light;
}

.container {
  height: 30%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
}

.slider {
  position: relative;
  width: 550px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  width: 100%;
  height: 3.63px;
  background-color: #bdbdbd;
  z-index: 1;
}

.slider__range {
  background-color: #4f4f4f;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  width: 550px;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
  stroke: var(--Gray-4, #ff0000);
  border: 3px solid #ccc; /* Add a border around the bar container */
  filter: drop-shadow(
      0px 1.7741366624832153px 0.17826533317565918px rgba(0, 0, 0, 0.01)
    )
    drop-shadow(
      0px 2.619086503982544px 3.8698549270629883px rgba(0, 0, 0, 0.02)
    )
    drop-shadow(0px 2px 17px rgba(0, 0, 0, 0.17));
}
